<ion-header>
  <ion-navbar color="danger">
    <ion-title>{{item.startDate | date:'dd/MM/yyyy'}} - {{item.endDate | date:'dd/MM/yyyy'}}</ion-title>
  </ion-navbar>
  <ion-toolbar color="danger">
    <ion-segment [(ngModel)]="type" (ionChange)="loadChart()" color="light">
      <ion-segment-button value="spending">
        {{'label__spending' | translate}}
      </ion-segment-button>
      <ion-segment-button value="earning">
        {{'label__earning' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngSwitch]="type">
    <div *ngSwitchCase="'spending'">
      <chart-pie title="spending" [data]="data" *ngIf="data"></chart-pie>
    </div>
    <div *ngSwitchCase="'earning'">
      <chart-pie title="earning" [data]="data" *ngIf="data"></chart-pie>
    </div>
  </div>  
</ion-content>
