<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chart</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div style="position: relative; height: 200px;">
    <chart-line [data]="allMonthChartData" *ngIf="allMonthChartData" title="All month" (onPick)="pickMonthChart($event)"></chart-line>  
  </div>
  <ion-list *ngIf="allMonthData">
    <ion-list-header>
      Statistic by month
    </ion-list-header>
    <button ion-item *ngFor="let item of allMonthData" (click)="gotoMonthChart(item)">
      <strong class="pull-right">
        <div class="earning"><small>+ {{item.emoney | currency:'VND':true}}</small></div>
        <div class="spending"><small>- {{item.smoney | currency:'VND':true}}</small></div>        
      </strong>
      <h2>{{item._id.month+1}}-{{item._id.year}}</h2>      
    </button>
  </ion-list>
</ion-content>
