<ion-header>
  <ion-navbar color="danger">
    <ion-title><ion-icon name="ios-arrow-forward"></ion-icon> {{parent ? parent.name : ''}} <ion-icon name="ios-arrow-forward" *ngIf="parent"></ion-icon></ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()" color="light">
        <span color="primary" showWhen="ios">{{'button__cancel' | translate}}</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content text-center *ngIf="typespending">
  <ion-grid>
    <ion-row>
      <ion-col width-20 center>
        <button ion-button icon-left clear color="light" (click)="changeIcon()">
          <ion-icon class="icon-logo" item-left [cssBackground]="typespending.icon"></ion-icon>
        </button>
      </ion-col>
      <ion-col center>
        <ion-item>
          <ion-label stacked>{{'type_spending__name' | translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="typespending.name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>      
      <ion-item>
        <ion-label stacked>{{'label__pos' | translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="typespending.oder"></ion-input>
      </ion-item>
    </ion-row>    
  </ion-grid>
  <div padding>
    <button ion-button block full (click)="save()">{{'button__save' | translate}}</button>
  </div>
</ion-content>
