typespending-list {
    .child-typespending {
        padding-left: 28px;
    }
    .tree ion-item-sliding:first-child ion-item {
        background-position: 28px 28px;
    }
    .tree ion-item-sliding:last-child ion-item {
        background-position: 28px -56px;
    }    
    .tree .child-typespending ion-item {
        background-position: 0px -21px;
    }
    .tree ion-item {        
        background-position: 28px -21px;
    }
}
