<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'type_spending__title' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="add()" color="light">
        <ion-icon name="add-circle"></ion-icon>&nbsp;{{'button__add' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="danger">
    <ion-segment [(ngModel)]="type" color="light">
      <ion-segment-button value="spending">
        {{'label__spending' | translate}}
      </ion-segment-button>
      <ion-segment-button value="earning">
        {{'label__earning' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="type" class="wallet-list" *ngIf="types">
    <ion-list *ngSwitchCase="'spending'" class="tree">
      <ion-item-sliding *ngFor="let item of types.spending" [ngClass]="{'child-typespending': item.parent_id}" #slidingItem>
        <ion-item>
          <ion-icon class="icon-logo" item-left [cssBackground]="item.icon"></ion-icon>
          <h2>{{item.name}}</h2>        
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="secondary" (click)="add(item, slidingItem)" *ngIf="!item.parent_id">
            <ion-icon name="add-circle"></ion-icon>
            {{'button__add' | translate}}
          </button>
          <button ion-button color="primary" (click)="edit(item, slidingItem)">
            <ion-icon name="create"></ion-icon>
            {{'button__edit' | translate}}
          </button>
          <button ion-button color="dark" (click)="delete(item, slidingItem)">
            <ion-icon name="trash"></ion-icon>
            {{'button__delete' | translate}}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'earning'" class="tree">
      <ion-item-sliding *ngFor="let item of types.earning" [ngClass]="{'child-typespending': item.parent_id}" #slidingItem>
        <ion-item>
          <ion-icon class="icon-logo" item-left [cssBackground]="item.icon"></ion-icon>
          <h2>{{item.name}}</h2>        
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="secondary" (click)="add(item, slidingItem)" *ngIf="!item.parent_id">
            <ion-icon name="add-circle"></ion-icon>
            {{'button__add' | translate}}
          </button>
          <button ion-button color="primary" (click)="edit(item, slidingItem)">
            <ion-icon name="create"></ion-icon>
            {{'button__edit' | translate}}
          </button>
          <button ion-button color="dark" (click)="delete(item, slidingItem)">
            <ion-icon name="trash"></ion-icon>
            {{'button__delete' | translate}}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
