select-type-spending-popup {
    .no-select .input-wrapper {
        color: #939393;
    }
    .child-typespending {
        padding-left: 44px;
    }
    .tree button:first-child {
        background-position: 28px 28px;
    }
    .tree button:last-child {
        background-position: 28px -56px;
    }
    .tree button {
        background-image: url('../../assets/img/tree.png');
        background-repeat: no-repeat;
        background-position: 28px -21px;
    }
    .tree button.child-typespending {
        background-position: 28px -22px;
    }
}
select-type-spending {
    ion-label {
        padding-left: 12px; 
        color: #999;
    }
    button {
        padding-left: 8px !important;
    }
    .item-inner {
        margin-left: 0px !important;
    }
}
select-type-spending[color="dark"]{
    button {        
        background: black;
        color: #cacaca;
    }
}
