<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'bookmark__title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="wallet-list">
    <ion-list-header>
      {{'bookmark__label' | translate}}
    </ion-list-header>
    <ion-item *ngIf="spendings && spendings.length === 0">
      {{'bookmark__no_item' | translate}}
    </ion-item>
    <ion-item-sliding *ngFor="let item of spendings" #slidingItem>
      <ion-item>
        <ion-icon class="icon-logo" item-left [cssBackground]="item.type_spending.icon">
          <ion-icon class="icon-logo logo-wallet" [cssBackground]="item.wallet.icon"></ion-icon>
        </ion-icon>
        <strong item-right [ngClass]="item.type < 0 ? 'spending' : (item.type > 0 ? 'earning' : '')">{{item.type >= 0 ? '+' : '-'}} {{(item.money || 0) | currency:appService.currency:true}}</strong>
        <h2>{{item.type_spending.name}}</h2>        
        <p>{{item.des}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="remove(item, slidingItem)">
          <ion-icon name="bookmarks"></ion-icon>
          {{'button__unbookmark' | translate }}
        </button>
        <button ion-button color="primary" (click)="edit(item, slidingItem)" *ngIf="item.type_spending.type !== 0">
          <ion-icon name="create"></ion-icon>
          {{'button__edit' | translate}}
        </button>
        <button ion-button color="dark" (click)="delete(item, slidingItem)">
          <ion-icon name="trash"></ion-icon>
          {{'button__delete' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
