<ion-menu [content]="content" id="leftMenu">
  <ion-header>
    <ion-toolbar no-padding>
      <ion-title *ngIf="!me">Notexpv2</ion-title>
      <ion-item *ngIf="me" no-lines color="primary">
        <ion-avatar item-left menuClose (click)="editInfor()" style="position: relative; z-index: 1000; margin-right: 0px;">
          <img src="assets/img/no-avatar.png" *ngIf="!me.more || !me.more.avatar">
          <img [src]="appService.FILE + '/' + me.more.avatar" *ngIf="me.more && me.more.avatar">
        </ion-avatar>
        <ion-select *ngIf="accs" [ngModel]="acc" (ngModelChange)="changeAccount($event)" style="max-width: 100%">
          <ion-option *ngFor="let a of accs" [value]="a.token">{{a.username}}</ion-option>
          <ion-option [value]="'addmore'">Add others</ion-option>
        </ion-select>
        <!-- <h2 menuClose (click)="editInfor()">
          <span style="text-shadow: 0px 0px 1px #270000;">{{me.username}}</span><br/>
          <small><ion-icon name="create" color="light"></ion-icon></small>
        </h2> -->
        <button menuClose ion-button item-right clear (click)="logout(true)" color="light" title="{{'button__logout' | translate}}"><ion-icon name="exit"></ion-icon>
        </button>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="me">
    <ion-list class="my-menu">
      <button menuClose ion-item (click)="openPage('Spending')">
        <ion-icon name="ios-color-palette" item-left color="danger"></ion-icon> {{'menu__dashboard' | translate}}
      </button>
      <button menuClose ion-item (click)="openPage('Bookmark')">
        <ion-icon name="clipboard" item-left color="danger"></ion-icon> {{'menu__bookmark' | translate}}
      </button>
      <button menuClose ion-item (click)="openPage('Wallet')">
        <ion-icon name="ios-card" item-left color="primary"></ion-icon> {{'menu__wallet' | translate}}
      </button>
      <button menuClose ion-item (click)="openPage('Type Spending')">
        <ion-icon name="md-git-network" item-left color="primary"></ion-icon> {{'menu__type_spending' | translate}}
      </button>
      <button menuClose ion-item (click)="openPage('Note')">
        <ion-icon name="ios-create" item-left color="dark"></ion-icon> {{'menu__note' | translate}}
      </button>      
      <button menuClose ion-item (click)="openPage('Log')">
        <ion-icon name="md-paw" item-left color="dark"></ion-icon> {{'menu__log' | translate}}
      </button>
      <button menuClose ion-item (click)="openPage('Statistic')">
        <ion-icon name="md-pulse" item-left color="secondary"></ion-icon> {{'menu__statistic' | translate}}
      </button>
    </ion-list>
  </ion-content>
  <span style="position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 2px 4px;
    background-color: #dedede;
    border: solid 1px #aaa;
    color: #333;
    font-size: 11px;">{{version}}</span>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav #content swipeBackEnabled="false"></ion-nav>