// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.spending {
  color: #ff402c !important;
}
.earning {
  color: #6edb8f !important;
}
.pull-right {
    float: right;
}
.no-margin {
  margin: 0px;
}
.no-padding {
  padding: 0px;
}
ion-select.full {
  width: 100%;
  max-width: 100%;
}
ion-select.small {
  padding: 4px;   
}
.my-menu button {
  color: color($colors, dark);
}
.icon-logo {  
  background-image: url('../assets/img/icons.png');
  background-repeat: no-repeat;
  background-size: 755px;
  width: 36px;
  height: 36px;
}
.pull-left {
  float: left;
}