<ion-menu [content]="content" id="leftMenu">
  <ion-header>
    <ion-toolbar no-padding>
      <ion-title *ngIf="!me">Notexpv2</ion-title>
      <ion-item *ngIf="me" no-lines color="primary">        
        <ion-avatar item-left>
          <img src="assets/img/no-avatar.png" *ngIf="!me.more.avatar">
          <img [src]="me.more.avatar" *ngIf="me.more.avatar">
        </ion-avatar>
        <h2 menuClose (click)="editInfor()">
          <span style="text-shadow: 0px 0px 1px #270000;">{{me.username}}</span><br/>
          <small><ion-icon name="create" color="light"></ion-icon></small>
        </h2>        
        <button menuClose ion-button item-right clear (click)="logout()" color="light">
          {{'button__logout' | translate}}&nbsp;<ion-icon name="exit"></ion-icon>
        </button>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="me">
    <ion-list class="my-menu">      
      <button menuClose ion-item (click)="openPage('Spending')">
        <ion-icon name="home" item-left color="danger"></ion-icon> {{'menu__dashboard' | translate}}
      </button>
      <button menuClose ion-item (click)="openPage('Wallet')">
        <ion-icon name="cash" item-left color="primary"></ion-icon> {{'menu__wallet' | translate}}
      </button>
      <button menuClose ion-item (click)="openPage('Type Spending')">
        <ion-icon name="archive" item-left color="primary"></ion-icon> {{'menu__type_spending' | translate}}
      </button>
      <button menuClose ion-item (click)="openPage('Bookmark')">
        <ion-icon name="bookmarks" item-left color="dark"></ion-icon> {{'menu__bookmark' | translate}}
      </button>
      <button menuClose ion-item (click)="openPage('Note')">
        <ion-icon name="ios-create" item-left color="dark"></ion-icon> {{'menu__note' | translate}}
      </button>
      <button menuClose ion-item (click)="openPage('Statistic')">
        <ion-icon name="stats" item-left color="secondary"></ion-icon> {{'menu__statistic' | translate}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav #content swipeBackEnabled="false"></ion-nav>