<ion-menu [content]="content" id="leftMenu">
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="!me">Notexpv2</ion-title>
      <ion-item *ngIf="me" no-lines>        
        <ion-avatar item-left>
          <img src="assets/img/no-avatar.png" *ngIf="!me.more.avatar">
          <img [src]="me.more.avatar" *ngIf="me.more.avatar">
        </ion-avatar>
        <h2 menuClose (click)="editInfor()">
          {{me.username}}<br/>
          <small><ion-icon name="create" color="primary"></ion-icon></small>
        </h2>        
        <button menuClose ion-button item-right clear (click)="logout()" color="primary">
          Logout&nbsp;&nbsp;<ion-icon name="exit"></ion-icon>
        </button>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="me">
    <ion-list>      
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon"></ion-icon> {{p.title}}
      </button>      
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav #content swipeBackEnabled="false"></ion-nav>