<ion-header>
  <ion-navbar color="danger">
    <ion-title *ngIf="!wallet._id">{{'wallet__title_add' | translate}}</ion-title>
    <ion-title *ngIf="wallet._id">{{'wallet__title_edit' | translate}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()" color="light">
        <span color="primary" showWhen="ios">{{'button__cancel' | translate}}</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <h3 [ngClass]="wallet.money >= 0 ? 'earning' : 'spending'" text-center (click)="focusMoney()">{{(wallet.money || 0) | currency:appService.currency:true }}</h3>
  </ion-toolbar>
</ion-header>
<ion-content text-center *ngIf="wallet">
  <form (ngSubmit)="save()">
    <ion-grid>
      <ion-row>
        <ion-col width-20 center>
          <ion-icon class="icon-logo" item-left [cssBackground]="wallet.icon" (click)="changeIcon()"></ion-icon>
        </ion-col>
        <ion-col center>
          <ion-item>
            <ion-label stacked>{{'wallet__name' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="wallet.name" [ngModelOptions]="{standalone: true}" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label stacked>{{'wallet__money' | translate}} <span [ngClass]="wallet.money >= 0 ? 'earning' : 'spending'">{{(wallet.money || 0) | currency:appService.currency:true }}</span></ion-label>
          <ion-input type="number" [(ngModel)]="wallet.money" #moneyInput [ngModelOptions]="{standalone: true}" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{'label__pos' | translate}}</ion-label>
          <ion-input type="number" [(ngModel)]="wallet.oder" [ngModelOptions]="{standalone: true}" required></ion-input>
        </ion-item>
      </ion-row>
      <ion-row [hidden]="wallet._id && wallet.type === -1">
        <ion-item>
          <ion-label>{{'wallet__is_add_in_spending' | translate}}</ion-label>
          <ion-checkbox [(ngModel)]="wallet.isApplyToSpending" [ngModelOptions]="{standalone: true}"></ion-checkbox>
        </ion-item>
      </ion-row>
      <ion-row [hidden]="wallet._id && wallet.type === -1">
        <ion-item>
          <ion-label stacked>{{'wallet__des' | translate}}</ion-label>
          <ion-textarea [(ngModel)]="wallet.des" [ngModelOptions]="{standalone: true}"></ion-textarea>
        </ion-item>
      </ion-row>
      <ion-row [hidden]="wallet._id && wallet.type === -1">
        <ion-item>
          <ion-label>{{'wallet__is_saving' | translate}}</ion-label>
          <ion-select [(ngModel)]="wallet.type" [ngModelOptions]="{standalone: true}">
            <ion-option [value]="1">{{'wallet__normal' | translate}}</ion-option>
            <ion-option [value]="0">{{'wallet__saving' | translate}}</ion-option>
            <ion-option [value]="-1">{{'wallet__prepare' | translate}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row [hidden]="wallet.type !== -1">
        <ion-item>
            <ion-label stacked>{{'label__initmoney' | translate}} <span [ngClass]="wallet.money >= 0 ? 'earning' : 'spending'">{{(wallet.initmoney || 0) | currency:appService.currency:true }}</span></ion-label>
          <ion-input type="number" [(ngModel)]="wallet.initmoney" [ngModelOptions]="{standalone: true}" required></ion-input>
        </ion-item>
      </ion-row>
    </ion-grid>
    <div padding>
      <button ion-button block full>{{'button__save' | translate}}</button>
    </div>
  </form>
</ion-content>