<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'wallet__title' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="add()" color="light">
        <ion-icon name="add-circle"></ion-icon>&nbsp;{{'button__add' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="wallet-list">
    <ion-list-header>
      {{'wallet__normal' | translate}} 
      <span item-right [ngClass]="wallets.defaultTotal < 0 ? 'spending' : 'earning'">{{(wallets.defaultTotal || 0) | currency:appService.currency:true}}</span>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of wallets.default" #slidingItem>
      <ion-item>
        <ion-icon class="icon-logo" item-left [cssBackground]="item.icon"></ion-icon>
        <strong item-right [ngClass]="item.money < 0 ? 'spending' : 'earning'">{{(item.money || 0) | currency:appService.currency:true}}</strong>
        <h2>{{item.name}}</h2>    
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="transfer(item, slidingItem)" *ngIf="wallets.default.length + wallets.saving.length > 1">
          <ion-icon name="git-compare"></ion-icon>
          {{'button__transfer' | translate}}
        </button>
        <button ion-button color="primary" (click)="edit(item, slidingItem)">
          <ion-icon name="create"></ion-icon>
          {{'button__edit' | translate}}
        </button>
        <button ion-button color="dark" (click)="delete(item, slidingItem)">
          <ion-icon name="trash"></ion-icon>
          {{'button__delete' | translate}}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list class="wallet-list">
    <ion-list-header>
      {{'wallet__prepare' | translate}} 
      <span item-right [ngClass]="wallets.prepareTotal < 0 ? 'spending' : 'earning'">{{(wallets.prepareTotal || 0) | currency:appService.currency:true}}</span>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of wallets.prepare" #slidingItem>
      <ion-item>
        <ion-icon class="icon-logo" item-left [cssBackground]="item.icon"></ion-icon>
        <strong item-right [ngClass]="item.money < 0 ? 'spending' : (item.money > 0 ? 'earning' : '')">{{(item.money || 0) | currency:appService.currency:true}}</strong>
        <h2>{{item.name}}</h2>
        <p><small [class]="getNowClass(item.updated_at)">{{item.updated_at | date: 'dd MMM, yyyy HH:mm'}}</small></p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="light" (click)="reset(item, 1)">
          <ion-icon name="add"></ion-icon>
          {{'button__resetUp' | translate}}
        </button>
        <button ion-button color="light" (click)="reset(item, -1)">
          <ion-icon name="remove"></ion-icon>
          {{'button__resetDown' | translate}}
        </button>
        <button ion-button color="light" (click)="reset(item, 0)">
          <ion-icon name="refresh"></ion-icon>
          {{'button__reset' | translate}}
        </button>
        <button ion-button color="primary" (click)="edit(item, slidingItem)">
          <ion-icon name="create"></ion-icon>
          {{'button__edit' | translate}}
        </button>
        <button ion-button color="dark" (click)="delete(item, slidingItem)">
          <ion-icon name="trash"></ion-icon>
          {{'button__delete' | translate}}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list class="wallet-list">
    <ion-list-header>
      {{'wallet__saving' | translate}} 
      <span item-right [ngClass]="wallets.savingTotal < 0 ? 'spending' : 'earning'">{{(wallets.savingTotal || 0) | currency:appService.currency:true}}</span>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of wallets.saving" #slidingItem>
      <ion-item>
        <ion-icon class="icon-logo" item-left [cssBackground]="item.icon"></ion-icon>
        <strong item-right [ngClass]="item.money < 0 ? 'spending' : (item.money > 0 ? 'earning' : '')">{{(item.money || 0) | currency:appService.currency:true}}</strong>
        <h2>{{item.name}}</h2>     
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="transfer(item, slidingItem)">
          <ion-icon name="git-compare"></ion-icon>
          {{'button__transfer' | translate}}
        </button>
        <button ion-button color="primary" (click)="edit(item, slidingItem)">
          <ion-icon name="create"></ion-icon>
          {{'button__edit' | translate}}
        </button>
        <button ion-button color="dark" (click)="delete(item, slidingItem)">
          <ion-icon name="trash"></ion-icon>
          {{'button__delete' | translate}}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
