<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Wallet</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="add()" color="light">
        <ion-icon name="add-circle"></ion-icon>&nbsp;Add
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="wallet-list">
    <ion-list-header>
      Wallet
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of wallets.default" #slidingItem>
      <ion-item>
        <ion-icon class="icon-logo" item-left [cssBackground]="item.icon"></ion-icon>
        <strong item-right [ngClass]="item.money < 0 ? 'spending' : 'earning'">{{(item.money || 0) | currency:'VND':true}}</strong>
        <h2>{{item.name}}</h2>        
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="transfer(item, slidingItem)" *ngIf="wallets.default.length + wallets.saving.length > 1">
          <ion-icon name="git-compare"></ion-icon>
          Tranfer
        </button>
        <button ion-button color="primary" (click)="edit(item, slidingItem)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button ion-button color="dark" (click)="delete(item, slidingItem)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-list-header>
      Saving
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of wallets.saving" #slidingItem>
      <ion-item>
        <ion-icon class="icon-logo" item-left [cssBackground]="item.icon"></ion-icon>
        <strong item-right [ngClass]="item.money < 0 ? 'spending' : (item.money > 0 ? 'earning' : '')">{{(item.money || 0) | currency:'VND':true}}</strong>
        <h2>{{item.name}}</h2>        
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="transfer(item, slidingItem)">
          <ion-icon name="git-compare"></ion-icon>
          Tranfer
        </button>
        <button ion-button color="primary" (click)="edit(item, slidingItem)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button ion-button color="dark" (click)="delete(item, slidingItem)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
