<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'account__title' | translate}}</ion-title>
  </ion-navbar>
  <ion-toolbar color="danger">
    <ion-segment [(ngModel)]="type" color="light">
      <ion-segment-button value="infor">
        {{'account__change_infor_label' | translate}}
      </ion-segment-button>
      <ion-segment-button value="pass">
        {{'account__change_pass_label' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content [ngSwitch]="type">
  <ion-list padding-top>
    <ion-item>
      <ion-avatar item-left style="position: relative">
        <input type="file" name="files" (change)="upload($event.target)" style="opacity: 0; position: absolute; top: 0px; left: 0px; width: 40px; height: 40px; z-index: 1000;"
        />
        <img src="assets/img/no-avatar.png" *ngIf="!user.more.avatar" width="40" height="40">
        <img [src]="appService.FILE + '/' + user.more.avatar" width="40" height="40" *ngIf="user.more.avatar">
      </ion-avatar>
      <h2>{{user.username}}</h2>
    </ion-item>

    <form *ngSwitchCase="'infor'" (ngSubmit)="save('info')">
      <ion-item>
        <ion-label floating>{{'account__fullname' | translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="user.more.name" [ngModelOptions]="{standalone: true}" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'account__recover' | translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="user.recover_by" [ngModelOptions]="{standalone: true}" required></ion-input>
      </ion-item>
      <div padding>
        <button block ion-button>{{'button__save' | translate}}</button>
      </div>
    </form>

    <form *ngSwitchCase="'pass'" (ngSubmit)="save('pass')">
      <ion-item>
        <ion-label floating>{{'account__oldpass' | translate}}</ion-label>
        <ion-input type="password" [(ngModel)]="user.old_password" [ngModelOptions]="{standalone: true}" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'account__newpass' | translate}}</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'account__confirm_newpass' | translate}}</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}" required></ion-input>
      </ion-item>
      <div padding>
        <button block ion-button>{{'button__save' | translate}}</button>
      </div>
    </form>
  </ion-list>
</ion-content>