<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'account__title' | translate}}</ion-title>
  </ion-navbar>
  <ion-toolbar color="danger">
    <ion-segment [(ngModel)]="type" color="light">
      <ion-segment-button value="infor">
        {{'account__change_infor_label' | translate}}
      </ion-segment-button>
      <ion-segment-button value="pass">
        {{'account__change_pass_label' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content [ngSwitch]="type">
  <ion-list padding-top> 
    <ion-item>
      <ion-avatar item-left>
        <img src="assets/img/no-avatar.png" *ngIf="!user.more.avatar">
        <img [src]="user.more.avatar" *ngIf="user.more.avatar">
      </ion-avatar>
      <h2>{{user.username}}</h2>
    </ion-item> 

    <ion-item *ngSwitchCase="'infor'">
      <ion-label floating>{{'account__fullname' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="user.more.name"></ion-input>
    </ion-item>
    <ion-item *ngSwitchCase="'infor'">
      <ion-label floating>{{'account__recover' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="user.recover_by"></ion-input>
    </ion-item>

    <ion-item *ngSwitchCase="'pass'">
      <ion-label floating>{{'account__oldpass' | translate}}</ion-label>
      <ion-input type="password" [(ngModel)]="user.old_password"></ion-input>
    </ion-item>
    <ion-item *ngSwitchCase="'pass'">
      <ion-label floating>{{'account__newpass' | translate}}</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <ion-item *ngSwitchCase="'pass'">
      <ion-label floating>{{'account__confirm_newpass' | translate}}</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button block ion-button (click)="save()">{{'button__save' | translate}}</button>
  </div>  
</ion-content>
