list-spending {
    p.full-content {
        overflow: visible;
        white-space: normal;
    }
    .logo-wallet-xs.no-float {
        float: none;
        top: 5px;
        position: relative;
    }
    .dashboard-buttons {
        position: absolute;
        top: 8px;
        right: 8px;
    }
    .money {
        color: #989898;
    }
    .logo-wallet-xs {
        zoom: 0.48;
        min-height: auto;
        float: left;
        margin-right: 4px;
        margin-top: 4px;
    }
    .logo-wallet-sm {
        zoom: 0.6;
        min-height : auto;
        float: left;
        position: absolute;
        left: 70px;
    }
    .close-wallet {
        zoom: 1.6;
        font-weight: bold;
    }
    ion-item-sliding.type-0 {
        h2 {
            font-size: 12px;
        }
    }
    ion-item-sliding.bookmark > ion-item {
        border-left: solid 2px #f53d3d !important;
    }
}