list-spending {
    .dashboard-buttons {
        position: absolute;
        top: 8px;
        right: 8px;
    }
    .money {
        color: #989898;
    }
    ion-card-footer .logo-wallet {
        zoom: 0.48;
        min-height: auto;
        float: left;
        margin-right: 4px;
        margin-top: 4px;
    }
    ion-icon .logo-wallet {
        zoom: 0.6;
        min-height : auto;
        float: left;
        position: absolute;
        left: 70px;
    }
    .close-wallet {
        zoom: 1.6;
        font-weight: bold;
    }
    ion-item-sliding.type-0 {
        h2 {
            font-size: 12px;
        }
    }
}