<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List spending</ion-title>
    <ion-buttons end>
      <button ion-button (click)="add()">
        <ion-icon name="add-circle"></ion-icon>&nbsp;Add
      </button>      
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="danger">
    <ion-row class="no-padding">
      <ion-col width-15 center align="left" class="no-padding">
        <button class="no-margin" ion-button icon-only clear color="light" (click)="prevFilter()">
          <ion-icon name="md-arrow-dropleft-circle"></ion-icon>
        </button>
      </ion-col>
      <ion-col center align="center" class="no-padding">
        <button class="no-margin" ion-button icon-only clear color="light" (click)="openSearch($event)">
          {{toDate(total.startDate) | date: 'dd MMM, yyyy'}} - {{toDate(total.endDate) | date: 'dd MMM, yyyy'}}        
        </button>
      </ion-col>
      <ion-col width-15 center align="right" class="no-padding">
        <button class="no-margin" ion-button icon-only clear color="light" (click)="nextFilter()">
          <ion-icon name="md-arrow-dropright-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>    
  </ion-toolbar>
</ion-header>
<ion-content>      
  <ion-searchbar *ngIf="isFilter" [(ngModel)]="txtSearch" (ionInput)="filterText()" placeholder="#Filter by description or type name"></ion-searchbar>
  <select-wallet *ngIf="isFilter" [wallets]="wallets" [default]="{_id: null, name: 'No Wallet Filter'}" [(ngModel)]="total.walletId" (change)="filter()"></select-wallet>
  <ion-card style="position: relative">
    <ion-card-header>
      Dashboard      
      <div class="dashboard-buttons">
        <button ion-button clear icon-only (click)="gotoChart()" small item-right>
          <ion-icon name="stats"></ion-icon>
        </button>
        <button ion-button clear icon-only (click)="toogleFilter()" small item-right>
          <ion-icon name="search"></ion-icon>
        </button>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>        
        <ion-row>
          <ion-col width-33 center>
            Earning
          </ion-col>
          <ion-col class="earning" center>
            <strong>+ {{(total.earning || 0) | currency:'VND':true }}</strong>
          </ion-col>          
        </ion-row>
        <ion-row>
          <ion-col width-33>
            Spending
          </ion-col>
          <ion-col class="spending">
            <strong>- {{(total.spending || 0) | currency:'VND':true }}</strong>
          </ion-col>          
        </ion-row>
        <ion-row>
          <ion-col width-33>
            Remaining
          </ion-col>
          <ion-col>
            <strong>{{(total.remaining || 0) | currency:'VND':true }}</strong>
          </ion-col>
        </ion-row>        
      </ion-grid>
    </ion-card-content>
    <ion-card-footer>
      <ion-row>
        <ion-col width-33 *ngFor="let w of wallets" (click)="filterWallet(w._id)">
          <ion-icon class="icon-logo logo-wallet" [cssBackground]="w.icon" align="center">
            <ion-icon name="close" class="close-wallet" *ngIf="total.walletId && total.walletId !== w._id"></ion-icon>
          </ion-icon> 
          <b><small [ngClass]="w.money < 0 ? 'spending' : 'earning'">{{ (w.money || 0) | currency:'VND':true }}</small></b>
        </ion-col>
      </ion-row>
    </ion-card-footer>
  </ion-card>  
  <div *ngIf="spendings">                
    <ion-list>      
      <ion-item-group *ngFor="let itemByDate of spendings" class="spending-list">
        <ion-item-divider color="light">
          <ion-icon item-left [ngClass]="itemByDate.day">{{itemByDate.date}}</ion-icon>      
          <strong item-right>
            <div class="earning" *ngIf="itemByDate.emoney > 0">+ {{(itemByDate.emoney || 0) | currency:'VND':true}}</div>
            <div class="spending" *ngIf="itemByDate.smoney > 0">- {{(itemByDate.smoney || 0) | currency:'VND':true}}</div>        
          </strong>
          <div *ngIf="!itemByDate.today && !itemByDate.yesterday">
            <h2>{{itemByDate.day}}</h2>
            <p>{{itemByDate.monthyear}}</p>
          </div>
          <div *ngIf="itemByDate.today || itemByDate.yesterday">
            <h2><b>{{itemByDate.today ? 'Today' : 'Yesterday'}}</b></h2>
            <p>{{itemByDate.day}} {{itemByDate.monthyear}}</p>
          </div>
        </ion-item-divider>
        <ion-item-sliding *ngFor="let item of itemByDate.items" #slidingItem [ngClass]="item.type === 0 ? 'type-0' : ''">
          <ion-item>
            <ion-icon class="icon-logo" item-left [cssBackground]="item.type_spending.icon" (click)="filterSpendingType(item.type_spending._id)">
               <ion-icon name="close" *ngIf="total.typeSpendingId"></ion-icon>
            </ion-icon>            
            <ion-icon class="icon-logo logo-wallet" [cssBackground]="item.wallet.icon"></ion-icon>
            
            <span *ngIf="total.walletId || (!this.total.walletId && item.sign_money !== 0)" item-right class="money" [ngClass]="{'earning': item.type > 0, 'spending': item.type < 0}">{{item.type > 0 ? '+' : (item.type < 0 ? '-' : '')}} {{(item.money || 0) | currency:'VND':true}}</span>
            <span *ngIf="!this.total.walletId && item.sign_money === 0" item-right class="money">{{item.type >= 0 ? '+' : '-'}} {{(item.money || 0) | currency:'VND':true}}</span>

            <h2 *ngIf="item.type_spending">{{item.type_spending.name}}</h2>
            <p *ngIf="item.type_spending.type !== 0">{{item.des}}</p>
            <p *ngIf="item.type_spending.type === 0">
              <span *ngIf="item.des">{{item.des}}</span><br *ngIf="item.des"/>
              <span *ngIf="'Transfer to wallet' === item.type_spending.name">
                <span>{{(item.wallet_money0 || 0) | currency:'VND':true}}</span> <ion-icon name="return-right"></ion-icon> <b class="spending">{{(item.wallet_money1 || 0) | currency:'VND':true}}</b>
              </span>
              <span *ngIf="'Received from wallet' === item.type_spending.name">
                <b class="earning">{{(item.wallet_money1 || 0) | currency:'VND':true}}</b> <ion-icon name="return-left"></ion-icon> <span>{{(item.wallet_money0 || 0) | currency:'VND':true}}</span>
              </span>
              <span *ngIf="'Update wallet' === item.type_spending.name">
                <span *ngIf="item.wallet_money0 < item.wallet_money1"><b class="earning">{{(item.wallet_money1 || 0) | currency:'VND':true}}</b> <ion-icon name="return-left"></ion-icon> <span>{{(item.wallet_money0 || 0) | currency:'VND':true}}</span></span>
                <span *ngIf="item.wallet_money0 > item.wallet_money1"><span>{{(item.wallet_money0 || 0) | currency:'VND':true}}</span> <ion-icon name="return-right"></ion-icon> <b class="spending">{{(item.wallet_money1 || 0) | currency:'VND':true}}</b></span>
              </span>
              <span *ngIf="'Add new wallet' === item.type_spending.name">
                <b class="earning">{{(item.wallet_money1 || 0) | currency:'VND':true}}</b> <ion-icon name="return-left"></ion-icon>
              </span>
            </p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="primary" (click)="edit(item, slidingItem)" *ngIf="item.type_spending.type !== 0">
              <ion-icon name="create"></ion-icon>
              Edit
            </button>
            <button ion-button color="dark" (click)="delete(item, slidingItem)">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>
