<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List spending</ion-title>
    <ion-buttons end>
      <button ion-button (tap)="toogleFilter()">
        <ion-icon name="search"></ion-icon>
      </button>
      &nbsp;
      <button ion-button (tap)="add()">
        <ion-icon name="add-circle"></ion-icon>&nbsp;Add
      </button>      
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-row class="no-padding">
      <ion-col width-15 center class="no-padding">
        <button class="no-margin" width-10 ion-button icon-only clear color="primary" (tap)="prevFilter()">
          <ion-icon name="md-arrow-dropleft-circle"></ion-icon>
        </button>
      </ion-col>
      <ion-col center class="no-padding">
        <button class="no-margin" ion-button icon-only clear color="primary" (tap)="openSearch($event)">
          {{toDate(total.startDate) | date: 'dd MMM, yyyy'}} - {{toDate(total.endDate) | date: 'dd MMM, yyyy'}}        
        </button>
      </ion-col>
      <ion-col width-15 center class="no-padding">
        <button class="no-margin" ion-button icon-only clear color="primary" (tap)="nextFilter()">
          <ion-icon name="md-arrow-dropright-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar *ngIf="isFilter">
    <ion-searchbar [(ngModel)]="txtSearch" (ionInput)="filterText()" placeholder="Search by description or type name"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>  
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col width-80 center>
          <ion-select class="full small" [(ngModel)]="total.walletId" (ionChange)="filter()" interface="action-sheet">
            <ion-option value="">All wallets</ion-option>
            <ion-option value="{{w._id}}" *ngFor="let w of wallets">{{w.name}}</ion-option>     
          </ion-select>
        </ion-col>
        <ion-col width-10 end>
          <button ion-button clear icon-only (tap)="gotoChart()" small>
            <ion-icon name="stats"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col width-33>
            Earning
          </ion-col>
          <ion-col class="earning">
            <strong>+ {{(total.earning || 0) | currency:'VND':true }}</strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33>
            Spending
          </ion-col>
          <ion-col class="spending">
            <strong>- {{(total.spending || 0) | currency:'VND':true }}</strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33>
            Remaining
          </ion-col>
          <ion-col>
            <strong>{{(total.remaining || 0) | currency:'VND':true }}</strong>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>  
  <div *ngIf="spendings">
    <ion-list>
      <ion-item-group *ngFor="let itemByDate of spendings" class="spending-list">
        <ion-item-divider color="light">
          <ion-icon item-left [ngClass]="itemByDate.day">{{itemByDate.date}}</ion-icon>      
          <strong item-right>
            <div class="earning">+ {{(itemByDate.emoney || 0) | currency:'VND':true}}</div>
            <div class="spending">- {{(itemByDate.smoney || 0) | currency:'VND':true}}</div>        
          </strong>
          <h2>{{itemByDate.day}} <span>{{itemByDate.today ? 'Today' : (itemByDate.yesterday ? 'Yesterday' : '')}}</span></h2>
          <p>{{itemByDate.monthyear}}</p>
        </ion-item-divider>
        <ion-item-sliding *ngFor="let item of itemByDate.items" #slidingItem>
          <ion-item>
            <ion-avatar item-left>
              <img src="assets/img/logo.png">
            </ion-avatar>
            <span item-right [ngClass]="{'earning': item.type_spending.type > 0, 'spending': item.type_spending.type < 0}" *ngIf="item.money">{{item.type_spending.type > 0 ? '+' : (item.type_spending.type < 0 ? '-' : '')}} {{(item.money || 0) | currency:'VND':true}}</span>
            <h2 *ngIf="item.type_spending">{{item.type_spending.name}}</h2>
            <p>{{item.des}}</p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="primary" (tap)="edit(item, slidingItem)">
              <ion-icon name="create"></ion-icon>
              Edit
            </button>
            <button ion-button color="secondary" (tap)="delete(item, slidingItem)">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>
